/*GLOBALS*/

* {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: #666;
}

a:hover {
	color: #1bc1a3;
}

/* body, hmtl{background: #ecf0f1; font-family: 'Anton', sans-serif;} */

#wrapper {
	width: 100%;
	/* margin:50px auto; */
	height: 100%;
	position: relative;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.1) 2px 2px 0px;
}

#slider-wrap {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#slider-wrap ul#slider {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/* #slider-wrap ul#slider .three {
	background-image: linear-gradient(to top, #f3d46a, #f8a962);
	float: left;
	position: relative;
	width: 33.33%;
	height: 100%;
}

#slider-wrap ul#slider .second {
	background-image: linear-gradient(to top, #6a9ef3, #6662f8);
	float: left;
	position: relative;
	width: 33.33%;
	height: 100%;
} */

#slider-wrap ul#slider .first {
	/* background-image: linear-gradient(to top, #6a8df3, #62cbf8); */
	float: left;
	position: relative;
	width: 100%;
	height: 100%;
}

#slider-wrap ul#slider li i {
	text-align: center;
	line-height: 100%;
	display: block;
	width: 100%;
	font-size: 90px;
}

/*btns*/

.btns {
	position: absolute;
	width: 50px;
	height: 60px;
	top: 50%;
	margin-top: -25px;
	line-height: 57px;
	text-align: center;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.1);
	z-index: 100;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.btns:hover {
	background: rgba(0, 0, 0, 0.3);
}

#next {
	right: -50px;
	border-radius: 7px 0px 0px 7px;
}

#previous {
	left: -50px;
	border-radius: 0px 7px 7px 7px;
}

/* #counter{
	top: 30px; 
	right:35px; 
	width:auto;
	position:absolute;
} */

#slider-wrap.active #next {
	right: 0px;
}

#slider-wrap.active #previous {
	left: 0px;
}

/*bar*/

#pagination-wrap {
	min-width: 20px;
	margin-top: 44rem;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	height: 15px;
	position: relative;
	text-align: center;
}

#pagination-wrap ul {
	width: 100%;
}

#pagination-wrap ul li {
	margin: 0 4px;
	display: inline-block;
	width: 50px;
	height: 5px;
	border-radius: 10%;
	background: #fff;
	opacity: 0.5;
	position: relative;
	top: 0;
}

#pagination-wrap ul li.active {
	width: 50px;
	height: 5px;
	/* top:3px; */
	opacity: 1;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
}

/*Header*/

h1,
h2 {
	text-shadow: none;
	text-align: center;
}

h1 {
	color: #666;
	text-transform: uppercase;
	font-size: 36px;
}

h2 {
	color: #7f8c8d;
	font-family: Neucha, Arial, sans serif;
	font-size: 18px;
	margin-bottom: 30px;
}

/*ANIMATION*/

#slider-wrap ul,
#pagination-wrap ul li {
	-webkit-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
	-moz-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
	-o-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
	-ms-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
	transition: all 0.3s cubic-bezier(1, .01, .32, 1);
}

/* 轮播图样式 */

.bg1 {
	position: absolute;
	width: 100%;
    height: 100%;
}

.bg3 {
	position: absolute;
	top: 10%;
	left: 50%;
}

.text1 {
	position: absolute;
	top: 21%;
	left: 20%;
}

.twoPhoto {
	z-index: 12;
	position: absolute;
	top: 43%;
	left: 20%;
}

.bg2 {
	position: absolute;
	top: 10%;
	left: 12%;
}

.text2 {
	position: absolute;
	top: 21%;
	left: 55%;
}

.twoPhoto2 {
	z-index: 12;
	position: absolute;
	top: 43%;
	left: 68%;
}

.begin {
	font-size: 20px;
	color: #fff;
	position: absolute;
	top: 76%;
	left: 23%;
}

.begin2 {
	font-size: 20px;
	color: #fff;
	position: absolute;
	top: 76%;
	left: 70%;
}

.popo1 {
	position: absolute;
	top: 8%;
	left: 13%;
	height: 80px;
}

.popo {
	position: absolute;
	top: 8%;
	left: 9%;
	height: 80px;
}

.popo1 img {
	display: block;
}

.popo2 {
	position: absolute;
	top: 8%;
	left: 59%;
	height: 80px;
}

.popo2 img {
	display: block;
}